* {
    /*Box model stuff*/
    margin: 0;
    padding: 0;
}

body {
    /*Box model stuff*/
    background: black;
    /*Typography stuff*/
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
/* 
b {
    font-weight: bold;
} */

::-webkit-scrollbar {
    /*Display stuff*/
    display: none;
}

input {
    /*Box model stuff*/
    margin: 0rem 0.7rem 0.7rem 0.7rem;
    padding: 7px;
    border: solid;
    border-width: thin;
    border-radius: 0.2rem;
    background-color: transparent;
    /*Typography stuff*/
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
}

h1 {
    /*Typography stuff*/
    font-size: x-large;
    text-shadow: -2px 2px 2px darkgray;
}

#signedOut {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Box model stuff*/
    height: 100vh;
}

.login {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    /*Box model stuff*/
    margin: 1rem;
}

#signedIn {
    /*Display stuff*/
    display: flex;
    flex-direction: row;
    /*Box model stuff*/
    height: 100vh;
}

#sidebar {
    /*Box model stuff*/
    width: 20%;
    margin: 2% 1% 2% 2%;
    border: solid;
    border-radius: 0.2rem;
}

.user {
    /*Display stuff*/
    display: flex;
    /*Box model stuff*/
    width: auto;
    padding: 1rem 1rem 0rem 1rem;
    background: transparent;
    /*Typography stuff*/
    font-size: x-large;
    font-weight: bolder;
    color: white;
    /*Manipulations stuff*/
    transition: 0.5s;
    opacity: 0.5;
    /*Miscellaneous*/
    overflow: hidden;
}

.user:hover {
    /*Manipulations stuff*/
    opacity: 1;
}

.user.active {
    /*Typography stuff*/
    font-size: xx-large;
    text-shadow: -2px 2px 2px darkgray;
    /*Manipulations stuff*/
    transition: 0.5s;
    opacity: 1;
}

#contentArea {
    /*Display stuff*/
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /*Box model stuff*/
    margin: 2% 2% 2% 1%;
    border: solid;
    border-radius: 0.2rem;
    position: relative;
}

.idleScreen {
    /*Display stuff*/
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /*Box model stuff*/
    padding: 1rem;
    /*Typography stuff*/
    font-size: x-large;
    text-align: center;
}

#chatHeader {
    /*Display stuff*/
    display: none;
    /*Box model stuff*/
    padding: 1rem;
    border-bottom: solid;
    border-width: thin;
    /*Typography stuff*/
    font-size: xx-large;
    font-weight: bolder;
}

#chatHistory {
    /*Display stuff*/
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /*Positioning stuff*/
    position: relative;
    /*Miscellaneous*/
    overflow: auto;
}

.sending {
    /*Display stuff*/
    display: flex;
    justify-content: flex-end;
    /*Box model stuff*/
    padding: 1rem;
    /*Typography stuff*/
    font-size: large;
    text-align: right;
}

.sending:hover {
    /*Box model stuff*/
    background: #141414;
    /*Manipulations stuff*/
    opacity: 0.7;
}

.receiving {
    /*Display stuff*/
    display: flex;
    justify-content: flex-start;
    /*Box model stuff*/
    padding: 1rem;
    /*Typography stuff*/
    font-size: large;
    text-align: left;
}

.receiving:hover {
    /*Box model stuff*/
    background: #141414;
    /*Manipulations stuff*/
    opacity: 0.7;
}

.send {
    /*Display stuff*/
    display: none;
}
